/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(249, 202, 228);
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

/* Form Styling */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="date"],
input[type="file"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

input[type="text"],
input[type="date"],
input[type="file"],
select {
    height: 40px;
}

textarea {
    resize: vertical;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="file"]:focus,
textarea:focus,
select:focus {
    outline: none;
    border-color: #f28ca2;
    box-shadow: 0 0 5px rgba(242, 140, 162, 0.5);
}

button.submit-btn {
    display: inline-block;
    background-color: #f28ca2;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 20px;
}

button.submit-btn:hover {
    background-color: #f16b87;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 15px;
    }

    h1 {
        font-size: 24px;
    }
}
