<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="services.css">
    <title>Services - Food Hub</title>
</head>
<body>
    <header>

    </header>
    
    <main>
        <section class="our-services">
            <div class="container">
                <h1 class="section-heading">Our Services</h1>
                <div class="card-wrapper flex">
                    <div class="service-card">
                    <img class="icon" src="./icons/transport.svg" alt="">
                    <h2>Free Home Delivery</h2>
                    <p>Enjoy free delivery on all orders over GHC20.0 </p>
                    <button class="btn btn-secondary">Read More</button>
                </div>
                <div class="service-card">
                    <img class="icon" src="./icons/bag.svg" alt="">
                    <h2 class="text-primary">30 Days Return Services</h2>
                    <p>Shop with confidence—enjoy our 30-day hassle-free return policy, allowing you to easily return any item within 30 days of purchase for a full refund or exchange</p>
                    <button class="btn btn-primary">Read More</button>
                </div>
                <div class="service-card">
                    <img class="icon" src="./icons/usd.svg" alt="">
                    <h2>Money Bag Granted</h2>
                    <p>Money Bag Approved!</p>
                    <button class="btn btn-secondary">Read More</button>
                </div>
                </div>
            </div>
        </section>
    </main>

</body>
</html>
